@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body, body *:not(script) {
  margin: 0;
  padding: 0;
  color: hsl(var(--th) 100 10);
  font-family: "Noto Sans", sans-serif;
}

body {
  max-width: 1500px;
  margin: auto;
  padding: 100px 50px 50px;
  font-size: 1rem;
  background-color: hsl(var(--th) 52 95);
}

nav {
  margin-top: 100px;
}

header, nav {
  text-align: center;
}

nav menu {
  list-style-type: none;
}

nav menu li {
  display: inline;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}

figure {
  aspect-ratio: 1;
}

figure > button, img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  display: block;
  object-fit: cover;
}

figcaption {
  background-color: hsl(var(--th) 55 85);
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border-width: 0;
}
