body, body * {
  font-family: sans-serif;
}

header, nav {
  text-align: center;
}

nav menu {
  list-style-type: none;
}
nav menu li {
  display: inline;
}

.ico {
  font-style: normal;
}

.ico-close::before {
  content: "\1F5D9";
}

.ico-back::before {
  content: "\276E";
}
